Repository therealmonE/fire-res, pull requests merged in 2021-01, with the labels that each got.

#65 Added gui template
  codecov.yml
  core/src/main/java/io/github/therealmone/fireres/core/config/GeneralProperties.java
  core/src/main/java/io/github/therealmone/fireres/core/config/GenerationProperties.java
  core/src/main/java/io/github/therealmone/fireres/core/config/Interpolation.java
  core/src/main/java/io/github/therealmone/fireres/core/config/SampleProperties.java
  gui/pom.xml
  gui/src/main/java/io/github/therealmone/fireres/gui/GuiModule.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/PrimaryStageConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/GeneralParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SamplesTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/event/AddSampleTabChangeListener.java
  gui/src/main/java/io/github/therealmone/fireres/gui/event/AddSampleTabChanged.java
  gui/src/main/java/io/github/therealmone/fireres/gui/event/SampleClosedEventHandler.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ResetSettingsService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/SampleCreatorService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ResetSettingsServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/SampleCreatorServiceImpl.java
  gui/src/main/resources/component/bottomButtonBar.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureChart.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureParams.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureTitledPane.fxml
  gui/src/main/resources/component/fire-mode/fireModeChart.fxml
  gui/src/main/resources/component/fire-mode/fireModeParams.fxml
  gui/src/main/resources/component/fire-mode/fireModeTitledPane.fxml
  gui/src/main/resources/component/generalParams.fxml
  gui/src/main/resources/component/sample.fxml
  gui/src/main/resources/component/sampleContent.fxml
  gui/src/main/resources/component/samplesTabPane.fxml
  gui/src/main/resources/css/dark-theme.css
  gui/src/main/resources/css/style.css
  gui/src/main/resources/scene/mainScene.fxml
Labels: code improvement, enhancement, gui

#76 Reports gui refactoring
  gui/src/main/resources/component/excess-pressure/excessPressurePane.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureParams.fxml
  gui/src/main/resources/component/fire-mode/fireModePane.fxml
  gui/src/main/resources/component/generalParams.fxml
  gui/src/main/resources/component/sampleContent.fxml
Labels: code improvement, enhancement, gui

#78 Gui controllers refactoring
  gui/src/main/java/io/github/therealmone/fireres/gui/Application.java
  gui/src/main/java/io/github/therealmone/fireres/gui/GraphicalInterface.java
  gui/src/main/java/io/github/therealmone/fireres/gui/GuiModule.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/GeneralParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SamplesTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/event/AddSampleTabChangeListener.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/FxmlLoadService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/SampleService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ResetSettingsServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/SampleCreatorServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/SampleServiceImpl.java
  gui/src/main/resources/component/excess-pressure/excessPressureChart.fxml
  gui/src/main/resources/component/fire-mode/fireModeChart.fxml
  gui/src/main/resources/component/sample.fxml
  gui/src/main/resources/component/samplesTabPane.fxml
Labels: code improvement, gui

#79 Gui controllers refactoring
  gui/src/main/java/io/github/therealmone/fireres/gui/GuiModule.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/AbstractController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/GeneralParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SamplesTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ElementStorageService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/FxmlLoadService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/SampleService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ElementStorageServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ResetSettingsServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/SampleServiceImpl.java
Labels: enhancement, gui

#80 Gui controllers refactoring
  gui/src/main/java/io/github/therealmone/fireres/gui/GuiModule.java
  gui/src/main/java/io/github/therealmone/fireres/gui/annotation/ChildController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/annotation/ChildControllers.java
  gui/src/main/java/io/github/therealmone/fireres/gui/annotation/ParentController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/ExcessPressureParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/GeneralParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/SamplesConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/AbstractController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/BottomButtonBarController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/Controller.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/GeneralParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/MainSceneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/PostConstructable.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleContainer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SamplesTabPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/TopMenuBarController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressurePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressureParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/model/ElementIds.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ElementStorageService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/FxmlLoadService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ResetSettingsService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/SampleService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ElementStorageServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ResetSettingsServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/SampleServiceImpl.java
  gui/src/main/resources/component/bottomButtonBar.fxml
  gui/src/main/resources/component/excess-pressure/excessPressurePane.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureParams.fxml
  gui/src/main/resources/component/fire-mode/fireModePane.fxml
  gui/src/main/resources/component/sample.fxml
  gui/src/main/resources/component/sampleContent.fxml
  gui/src/main/resources/component/samplesTabPane.fxml
  gui/src/main/resources/component/topMenuBar.fxml
  gui/src/main/resources/scene/mainScene.fxml
Labels: code improvement, gui

#84 added outputPath to cli configuration
  application.conf
  cli/src/main/java/io/github/therealmone/fireres/cli/Application.java
  cli/src/main/java/io/github/therealmone/fireres/cli/ProgramArguments.java
  cli/src/test/java/io/github/therealmone/fireres/cli/ApplicationTest.java
  cli/src/test/resources/maximum.conf
  cli/src/test/resources/minimum.conf
  core/src/main/java/io/github/therealmone/fireres/core/config/GeneralProperties.java
  run-cli.sh
Labels: enhancement

#87 Added heat flow report tab
  gui/src/main/java/io/github/therealmone/fireres/gui/config/HeatFlowParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/PrimaryStageConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/FunctionParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ResetSettingsService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ResetSettingsServiceImpl.java
  gui/src/main/resources/component/common-params/functionParams.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureParams.fxml
  gui/src/main/resources/component/heat-flow/heatFlowChart.fxml
  gui/src/main/resources/component/heat-flow/heatFlowPane.fxml
  gui/src/main/resources/component/heat-flow/heatFlowParams.fxml
  gui/src/main/resources/component/sample.fxml
  gui/src/main/resources/css/style.css
Labels: enhancement, gui
