Repository therealmonE/fire-res, pull requests merged in 2021-02, with the labels that each got.

#88 added firemod inputs/controllers
  gui/src/main/java/io/github/therealmone/fireres/gui/config/FireModeParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/fire/mode/FireModePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/fire/mode/FireModeParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ResetSettingsService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ResetSettingsServiceImpl.java
  gui/src/main/resources/component/fire-mode/fireModeChart.fxml
  gui/src/main/resources/component/fire-mode/fireModePane.fxml
  gui/src/main/resources/component/fire-mode/fireModeParams.fxml
Labels: enhancement, gui

#90 Added context menu for interpolation points table view
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/FunctionParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowPaneController.java
  gui/src/main/resources/component/excess-pressure/excessPressureChart.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureParams.fxml
  gui/src/main/resources/component/fire-mode/fireModeChart.fxml
  gui/src/main/resources/component/fire-mode/fireModeParams.fxml
Labels: enhancement, gui

#93 Added units for inputs
  gui/src/main/resources/component/common-params/functionParams.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureChart.fxml
  gui/src/main/resources/component/excess-pressure/excessPressurePane.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureParams.fxml
  gui/src/main/resources/component/fire-mode/fireModeChart.fxml
  gui/src/main/resources/component/fire-mode/fireModeParams.fxml
  gui/src/main/resources/component/generalParams.fxml
  gui/src/main/resources/component/heat-flow/heatFlowChart.fxml
  gui/src/main/resources/component/heat-flow/heatFlowPane.fxml
  gui/src/main/resources/component/heat-flow/heatFlowParams.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/first-thermocouple-group/firstThermocoupleGroupChart.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/first-thermocouple-group/firstThermocoupleGroupPane.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/first-thermocouple-group/firstThermocoupleGroupParams.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/second-thermocouple-group/secondThermocoupleGroupChart.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/second-thermocouple-group/secondThermocoupleGroupPane.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/second-thermocouple-group/secondThermocoupleGroupParams.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/third-thermocouple-group/thirdThermocoupleGroupChart.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/third-thermocouple-group/thirdThermocoupleGroupPane.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/third-thermocouple-group/thirdThermocoupleGroupParams.fxml
  gui/src/main/resources/component/unheated-surface/unheatedSurfacePane.fxml
Labels: code improvement, enhancement, gui

#97 Prepare gui integration
  gui/src/main/java/io/github/therealmone/fireres/gui/GuiModule.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/ExcessPressureParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/FireModeParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/FunctionParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/HeatFlowParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/thermocouple/groups/FirstThermocoupleGroupParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/thermocouple/groups/SecondThermocoupleGroupParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/thermocouple/groups/ThirdThermocoupleGroupParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/ReportContainer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleContainer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/FunctionParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressurePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressureParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/fire/mode/FireModeChartController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/fire/mode/FireModePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/fire/mode/FireModeParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/UnheatedSurfacePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/first/thermocouple/group/FirstThermocoupleGroupPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/first/thermocouple/group/FirstThermocoupleGroupParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/second/thermocouple/group/SecondThermocoupleGroupPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/second/thermocouple/group/SecondThermocoupleGroupParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/third/thermocouple/group/ThirdThermocoupleGroupPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/third/thermocouple/group/ThirdThermocoupleGroupParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ChartsSynchronizationService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/SampleService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ChartsSynchronizationServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/SampleServiceImpl.java
  gui/src/main/resources/component/fire-mode/fireModeChart.fxml
Labels: code improvement, gui

#99 Integrated generators into gui
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/FunctionParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/model/ElementIds.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/FxmlLoadService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ChartsSynchronizationServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/resources/component/common-params/interpolationPointsModalWindow.fxml
  gui/src/main/resources/component/fire-mode/fireModeChart.fxml
  gui/src/main/resources/css/style.css
Labels: enhancement, gui

#100 Added function parameters integration
  core/src/main/java/io/github/therealmone/fireres/core/service/InterpolationService.java
  fire-mode/src/main/java/io/github/therealmone/fireres/firemode/service/FireModeService.java
  fire-mode/src/main/java/io/github/therealmone/fireres/firemode/service/impl/FireModeServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/FunctionParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/AbstractController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/FunctionParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/InterpolationPointsModalWindowController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressurePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/fire/mode/FireModePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/fire/mode/FireModeParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/first/thermocouple/group/FirstThermocoupleGroupPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/second/thermocouple/group/SecondThermocoupleGroupPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/third/thermocouple/group/ThirdThermocoupleGroupPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/FxmlLoadService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ChartsSynchronizationServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/SampleServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/ChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/FireModeChartSynchronizer.java
  gui/src/main/resources/component/common-params/functionParams.fxml
  gui/src/main/resources/component/common-params/interpolationPointsModalWindow.fxml
  heat-flow/src/main/java/io/github/therealmone/fireres/heatflow/service/HeatFlowService.java
  heat-flow/src/main/java/io/github/therealmone/fireres/heatflow/service/impl/HeatFlowServiceImpl.java
  unheated-surface/src/main/java/io/github/therealmone/fireres/unheated/surface/service/UnheatedSurfaceFirstGroupService.java
  unheated-surface/src/main/java/io/github/therealmone/fireres/unheated/surface/service/UnheatedSurfaceSecondGroupService.java
  unheated-surface/src/main/java/io/github/therealmone/fireres/unheated/surface/service/UnheatedSurfaceThirdGroupService.java
  unheated-surface/src/main/java/io/github/therealmone/fireres/unheated/surface/service/impl/UnheatedSurfaceFirstGroupServiceImpl.java
  unheated-surface/src/main/java/io/github/therealmone/fireres/unheated/surface/service/impl/UnheatedSurfaceSecondGroupServiceImpl.java
  unheated-surface/src/main/java/io/github/therealmone/fireres/unheated/surface/service/impl/UnheatedSurfaceThirdGroupServiceImpl.java
Labels: code improvement, enhancement, gui

#101 Added excess pressure params integration to gui
  core/src/main/java/io/github/therealmone/fireres/core/pipeline/DefaultReportEnrichPipeline.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/PrimaryStageConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressureChartController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressurePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressureParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/model/ElementIds.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ChartsSynchronizationService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ChartsSynchronizationServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/ExcessPressureChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/FireModeChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/util/ChartUtils.java
  gui/src/main/resources/component/excess-pressure/excessPressureChart.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureParams.fxml
  gui/src/main/resources/css/style.css
Labels: enhancement, gui

#113 Integrated generators into heat flow report
  gui/src/main/java/io/github/therealmone/fireres/gui/config/HeatFlowParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowChartController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/model/ElementIds.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ChartsSynchronizationService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ChartsSynchronizationServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/HeatFlowChartSynchronizer.java
  gui/src/main/resources/component/heat-flow/heatFlowChart.fxml
  gui/src/main/resources/component/heat-flow/heatFlowParams.fxml
  gui/src/main/resources/css/style.css
  heat-flow/src/main/java/io/github/therealmone/fireres/heatflow/service/impl/HeatFlowServiceImpl.java
Labels: enhancement, gui

#114 Integrated generators into unheated surface report
  gui/src/main/java/io/github/therealmone/fireres/gui/config/thermocouple/groups/FirstThermocoupleGroupParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/thermocouple/groups/SecondThermocoupleGroupParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/thermocouple/groups/ThirdThermocoupleGroupParametersConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/UnheatedSurfacePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/first/thermocouple/group/FirstThermocoupleGroupChartController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/first/thermocouple/group/FirstThermocoupleGroupPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/first/thermocouple/group/FirstThermocoupleGroupParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/second/thermocouple/group/SecondThermocoupleGroupChartController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/second/thermocouple/group/SecondThermocoupleGroupPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/second/thermocouple/group/SecondThermocoupleGroupParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/third/thermocouple/group/ThirdThermocoupleGroupChartController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/third/thermocouple/group/ThirdThermocoupleGroupPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/thermocouple/groups/third/thermocouple/group/ThirdThermocoupleGroupParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/model/ElementIds.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ChartsSynchronizationService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ChartsSynchronizationServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/FirstThermocoupleGroupChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/SecondThermocoupleGroupChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/ThirdThermocoupleGroupChartSynchronizer.java
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/first-thermocouple-group/firstThermocoupleGroupChart.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/first-thermocouple-group/firstThermocoupleGroupParams.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/second-thermocouple-group/secondThermocoupleGroupChart.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/second-thermocouple-group/secondThermocoupleGroupParams.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/third-thermocouple-group/thirdThermocoupleGroupChart.fxml
  gui/src/main/resources/component/unheated-surface/thermocouple-groups/third-thermocouple-group/thirdThermocoupleGroupParams.fxml
  gui/src/main/resources/css/style.css
  unheated-surface/src/main/java/io/github/therealmone/fireres/unheated/surface/service/impl/UnheatedSurfaceSecondGroupServiceImpl.java
  unheated-surface/src/main/java/io/github/therealmone/fireres/unheated/surface/service/impl/UnheatedSurfaceThirdGroupServiceImpl.java
Labels: enhancement, gui

#115 Added samples export
  excel/src/main/java/io/github/therealmone/fireres/excel/ExcelModule.java
  excel/src/main/java/io/github/therealmone/fireres/excel/ExcelReportConstructor.java
  gui/pom.xml
  gui/src/main/java/io/github/therealmone/fireres/gui/GraphicalInterface.java
  gui/src/main/java/io/github/therealmone/fireres/gui/GuiModule.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/BottomButtonBarController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/MainSceneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ExportService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/FxmlLoadService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ExportServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/SampleServiceImpl.java
  gui/src/main/resources/component/bottomButtonBar.fxml
Labels: enhancement, excel, gui

#118 Report exclusion supported
  core/src/main/java/io/github/therealmone/fireres/core/model/Sample.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/GeneralParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/MainSceneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/ReportInclusionChanger.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressurePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/fire/mode/FireModePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/UnheatedSurfacePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/model/ElementIds.java
  gui/src/main/java/io/github/therealmone/fireres/gui/util/TabUtils.java
  gui/src/main/resources/component/generalParams.fxml
Labels: enhancement, excel, gui

#119 Added source encoding
  pom.xml
Labels: bug, gui

#120 Regenerate reports on general parameters changed
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/AbstractController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/GeneralParamsController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/ReportContainer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleContainer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/excess/pressure/ExcessPressurePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/fire/mode/FireModePaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/heat/flow/HeatFlowPaneController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/unheated/surface/UnheatedSurfacePaneController.java
Labels: enhancement, gui

#125 Fix chart legend color
  gui/src/main/java/io/github/therealmone/fireres/gui/model/ElementIds.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/FireModeChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/FirstThermocoupleGroupChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/HeatFlowChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/SecondThermocoupleGroupChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/ThirdThermocoupleGroupChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/util/ChartUtils.java
  gui/src/main/resources/css/style.css
Labels: bug, gui

#128 Added contextless spinner
  gui/src/main/java/io/github/therealmone/fireres/gui/component/ContextlessSpinner.java
  gui/src/main/resources/component/common-params/functionParams.fxml
  gui/src/main/resources/component/common-params/interpolationPointsModalWindow.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureParams.fxml
  gui/src/main/resources/component/fire-mode/fireModeParams.fxml
  gui/src/main/resources/component/generalParams.fxml
  gui/src/main/resources/component/heat-flow/heatFlowParams.fxml
  gui/src/main/resources/component/unheated-surface/groups/first/firstGroupParams.fxml
  gui/src/main/resources/component/unheated-surface/groups/second/secondGroupParams.fxml
  gui/src/main/resources/component/unheated-surface/groups/third/thirdGroupParams.fxml
Labels: bug, gui

#130 Added samples renaming
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/SampleRenameModalWindowController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/FxmlLoadService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/resources/component/common-params/sampleRenameModalWindow.fxml
Labels: enhancement, gui

#132 Added enter key listeners / renamed buttons
  gui/src/main/java/io/github/therealmone/fireres/gui/component/ContextlessSpinner.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/SampleTabController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/SampleRenameModalWindowController.java
  gui/src/main/resources/component/topMenuBar.fxml
Labels: code improvement, enhancement, gui

#137 Added new default font / Fixed font bug
  gui/src/main/resources/component/common-params/functionParams.fxml
  gui/src/main/resources/component/excess-pressure/excessPressure.fxml
  gui/src/main/resources/component/excess-pressure/excessPressureParams.fxml
  gui/src/main/resources/component/fire-mode/fireModeParams.fxml
  gui/src/main/resources/component/generalParams.fxml
  gui/src/main/resources/component/heat-flow/heatFlowChart.fxml
  gui/src/main/resources/component/heat-flow/heatFlowParams.fxml
  gui/src/main/resources/component/unheated-surface/groups/first/firstGroupParams.fxml
  gui/src/main/resources/component/unheated-surface/groups/second/secondGroupParams.fxml
  gui/src/main/resources/component/unheated-surface/groups/third/thirdGroupParams.fxml
  gui/src/main/resources/css/style.css
  gui/src/main/resources/font/OpenSans-Bold.ttf
  gui/src/main/resources/font/OpenSans-Regular.ttf
Labels: bug, code improvement, gui

#145 Added about program window / Fixed logos / Added hyperlinks
  gui/src/main/java/io/github/therealmone/fireres/gui/Application.java
  gui/src/main/java/io/github/therealmone/fireres/gui/GuiModule.java
  gui/src/main/java/io/github/therealmone/fireres/gui/config/PrimaryStageConfigurer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/TopMenuBarController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/menu/help/AboutProgramController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/model/Logos.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/FxmlLoadService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/resources/component/common-params/interpolationPointsModalWindow.fxml
  gui/src/main/resources/component/common-params/sampleRenameModalWindow.fxml
  gui/src/main/resources/component/menu-help/aboutProgram.fxml
  gui/src/main/resources/component/topMenuBar.fxml
  gui/src/main/resources/css/style.css
  gui/src/main/resources/image/logo-50.png
  gui/src/main/resources/image/logo-512.png
Labels: bug, code improvement, enhancement, gui

#147 Fixed sample renaming
  gui/src/main/java/io/github/therealmone/fireres/gui/GuiModule.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/InterpolationPointsModalWindowController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/common/SampleRenameModalWindowController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/AlertService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/AlertServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/SampleServiceImpl.java
  gui/src/main/resources/css/style.css
Labels: bug, gui

#150 Export specified samples feature
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/TopMenuBarController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/top/menu/AboutProgramController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/top/menu/ExportModalWindowController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/controller/top/menu/SampleExportCheckboxController.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/ExportService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/FxmlLoadService.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/ExportServiceImpl.java
  gui/src/main/java/io/github/therealmone/fireres/gui/service/impl/FxmlLoadServiceImpl.java
  gui/src/main/resources/component/top-menu/aboutProgram.fxml
  gui/src/main/resources/component/top-menu/exportModalWindow.fxml
  gui/src/main/resources/component/top-menu/sampleExportComponent.fxml
  gui/src/main/resources/component/topMenuBar.fxml
  gui/src/main/resources/css/style.css
Labels: enhancement, gui

#158 Feature/fireres 148
  gui/src/main/java/io/github/therealmone/fireres/gui/model/ElementIds.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/FireModeChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/FirstThermocoupleGroupChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/HeatFlowChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/SecondThermocoupleGroupChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/synchronizer/impl/ThirdThermocoupleGroupChartSynchronizer.java
  gui/src/main/java/io/github/therealmone/fireres/gui/util/ChartUtils.java
  gui/src/main/resources/css/style.css
Labels: enhancement, gui

#167 Fixed export focus
  gui/src/main/resources/css/style.css
Labels: bug, gui
